# Salin file ini menjadi .env.local dan isi nilainya

# URL backend API (NestJS/Express)
NEXT_PUBLIC_API_URL=http://localhost:5000

# Nomor meja (bisa diisi dinamis dari URL QR Code nanti)
NEXT_PUBLIC_TABLE_NUMBER=05
NEXT_PUBLIC_TABLE_FLOOR=Lantai 2
